body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
    background: url('https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.9); /* Black color */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: rgba(0, 0, 0, 0.9); /* Black color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    color: #fff;
    font-size: 2em;
    font-family: 'Pacifico', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6600;
}

main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.intro, .projects, .skills, .contact {
    width: 80%;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    border-radius: 10px;
}

.intro h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

.intro h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #ddd;
}

.intro p {
    font-size: 1.2em;
    margin-top: 20px;
    color: #ccc;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-links a i {
    margin-right: 5px;
}

.social-links a:hover {
    color: #ff6600;
}

.projects h2, .skills h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.project {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
    color: #333;
    text-align: left;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1em;
    color: #555;
}

.project:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.skills ul {
    list-style: none;
    padding: 0;
    color: white;
}

.skills ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

.contact p {
    font-size: 1.2em;
    color: #ccc;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

footer a:hover {
    color: #ff6600;
}

footer a i {
    margin-right: 5px;
}
